<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1.0" />
<title>Staffing & Compensation Details</title>

<!-- CSS  -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link href="../css/materialize.css" type="text/css" rel="stylesheet"
	media="screen,projection" />
<link href="../css/style.css" type="text/css" rel="stylesheet"
	media="screen,projection" />
<script type="text/javascript" src="http://www.google.com/jsapi"></script>

<script type="text/javascript">
	google.load('visualization', '1', {
		'packages' : [ 'geochart', 'corechart' ]
	});

	//google.setOnLoadCallback(drawMap);
</script>

</head>
<body>
	<nav role="navigation" class="z-depth-3">
		<div class="nav-wrapper container">
			<a id="logo-container" href="#" class="brand-logo">Veterans
				Quality of Care</a>
			<ul class="right hide-on-med-and-down waves-effect waves-light">
				<li><a href="../index.html">Home</a></li>
			</ul>
		</div>
	</nav>
	<div class="section no-pad-bot" id="index-banner">
		<div class="container"></div>
	</div>
	
	<main>
	<div class="container">
		<h5>Staffing & Compensation Details</h5>
		<div class="input-field col s12">
			<select id="compensationSelect">
				<option value="" disabled selected>Choose your option</option>
				<option value="1">Compensation Per Staff Ratio</option>
			</select>
		</div>

		<div id='map_canvas'></div>
	</main>
	
	<footer class="page-footer">
		<div class="footer-copyright">
			<div class="container">
				© TEAM Web Enthusiasts - <span style="margin-left: 30px;"><b>Gaurav
						Gandhi</b> gmg140230 </span><b><span style="margin-left: 50px;">Aditya
						Borde</b> asb140930</span>
			</div>
		</div>
	</footer>
	
	<!--  Scripts-->
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="../js/materialize.js"></script>
	<script src="../js/init.js"></script>
	<script type="text/javascript" src="../js/app.js"></script>
</body>
</html>
